@import './css/fonts.css';
@import './css/tailwind.css';
@import './css/theme.css';

body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.wp-site-blocks {
  padding: 0 !important;
  max-width: none !important;
}